body{
  background-color: grey;
  overflow: hidden;
}




#gameboard{

  width: auto;
  height: auto;
  background-color: skyblue;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-right: 50px;

}

#textContainerDiv{
  font-size: 40px;
}


#playerTurn{
  font-style: italic;
  font: arial;

}

#redCol{
  height: 100px;
  width: 100px;
  color: grey;
  margin: 5px;
  background-color: red;
  display: inline-block;
  border-radius: 50%
}

#blueCol{
  height: 100px;
  width: 100px;
  color: grey;
  margin: 5px;
  background-color: blue;
  display: inline-block;
  border-radius: 50%
}

#hoverCol{
  height: 100px;
  width: 100px;
  color: grey;
  margin: 5px;
  background-color: yellow;
  display: inline-block;
  border-radius: 50%
}

#bottomEmptyCol{
  height: 100px;
  width: 100px;
  color: grey;
  margin: 5px;
  background-color: grey;
  display: inline-block;
  border-radius: 50%


}


#emptyCol{
  height: 100px;
  width: 100px;
  color: grey;
  margin: 5px;
  background-color: grey;
  display: inline-block;
  border-radius: 50%


}
